streamlit
google-generativeai
python-dotenv
speechrecognition
pyttsx3
pyaudio
torch
transformers
textblob
openai
pydub
gtts
spacy

en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz

# Install Gramformer from GitHub (not available on PyPI)
git+https://github.com/PrithivirajDamodaran/Gramformer.git

